/* Log in Box/ Form */
.formPopUp {
    position: absolute;
    top: 60px;
    right: 32px;
    z-index: 9;
}

.formContainer {
    width: 300px;
    padding: 16px;
}

form {
    width: 100%;
}

.popUpBorder {
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 1px 2px #888888;
    border-radius: 8px;
}

.formContainer input[type=text], .formContainer input[type=password] {
    width: 100%;
    padding: 8px;
    margin-left: -8px;
    border: none;
    background: #f1f1f1;
    margin-bottom: 2px;
}
.formContainer label {
    margin-left: -8px;
}
.formButtonContainer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 40%;
    border-radius: 8px;
}
.cancel {
    background-color: #f44336;
}

.button:hover {
    opacity: 70%;
}
.errorMessage {
    color: #f44336;
    margin-top: 2px;
    margin-bottom: 8px;
}
/* Main Stuff */
.container {
    background-color: #04AA6D;
}

.homeVideoBox {
    width: 70%;
    float: left;
}

.videoGrid {
    display: grid;
    width: 100%;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 19%));
}

/* Video Cards */
.videoCard {
    display:block;
    border-radius: 16px;
    box-shadow: 2px 2px 1px 2px #888888;
    padding: 8px;
    margin-bottom: 16px;

    max-width: 600px;
    min-width: 200px;
}
.thumbnailImage {
    width: 100%;
    border-radius: 16px;
    box-shadow: 2px 2px 1px 1px #888888;
}

.horizontalVideoCard {
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
    box-shadow: 2px 2px 1px 2px #888888;
    padding: 8px;
    margin-bottom: 16px;
    width: 100%;
}
.horizontalThumbnailImage {
    width: 50%;
    max-width: 200px;
    border-radius: 16px;
    box-shadow: 2px 2px 1px 1px #888888;
}
.cardTextContainerHorizontal {
    width: 50%;
    text-align: center;
}

.cardTextContainer {
    text-align: center;
}

.h1OR {
    margin-top: 1%;
    margin-bottom: 1%;
}
.pOR {
    margin-top: 1%;
    margin-bottom: 1%;
}


.spaceBetween {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.videoContainer {
    margin: 16px;
    width: 70%;
}
.videoPlayer {
    margin: 16px;
    border-radius: 16px;
    margin-left: auto;
    margin-right: auto;
}
.sidePreviewContainer {
    margin: 16px;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    overflow-y: scroll;
}

/* Form Stuff */
.quickForm {
    width: 30%;
    margin-left: 16px;
    padding-top: 16px;
    float: left;
}

.page {
    overflow: auto;
}

.centerDiv {
    margin-left: auto;
    margin-right: auto;
}